@charset "utf-8";
/* CSS Document */

body {
	margin-top:0px;
	margin-right: 250px;
	margin-left: 250px;
	padding-top:0px;
}

#header {
	background:url(../images/header2.png) repeat-x;
	height:120px;
}

#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;
}

#nav-menu li
{
float: left;
margin: 0;
width:20%;
}

#nav-menu li a
{
background:url(../images/css-nav.gif) #fff bottom left repeat-x;
height: 2em;
line-height: 2em;
float: left;
display: block;
border: 0.1em solid #dcdce9;
color: #0d2474;
text-decoration: none;
text-align: center;
}

/* Hide from IE5-Mac \*/
#nav-menu li a
{
float: none
}
/* End hide */

#nav-menu
{
width:100%;
}

#sub-menu {
	background:url(../images/submenu.png) repeat;
	width:200px;
	border:1px solid #FFF;
}

#sub-menu ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#sub-menu li
{
}

#sub-menu li a{
	display: block;
	padding: 20px 0 10px 0;
	text-decoration: none;
	text-align:center;
	color:#FFF;
}

#productdetails table,#customerdetails table{
	border:0;
	width:100%;
}

#productdetails table tr td,#customerdetails table tr td {
	height:30px;
}

#productdetails table tr td input,#customerdetails table tr td input {
	height:25px;
	text-align:left;
	width:100%;
}

.button
{
	width:100px;
	height:25px;
	color:#FFF;
	background:url(../images/button2.png) repeat-x;
}

.errorbox
{
	padding-left:25px; 
	padding-top:4px;
	padding-bottom:4px;
	color:#333333;
    font-size:11px;
	border:1px solid #e82a2a;
	font-weight:bold;
	background:url(../images/icon_error.gif) left no-repeat #ffeaea;
	
}

.successbox
{
	padding-left:25px; 
	padding-top:4px;
	padding-bottom:4px;
	color:#333333;
    font-size:11px;
	border:1px solid #adc7a1;
	font-weight:bold;
	background:#edf3eb;
	background:url(../images/green-status.gif) left no-repeat #edf3eb;
}

#footer
{
	 background:url(../images/footer.png) repeat-x;
	 height:40px;
	 width:100%;
	 padding-top:8px;
}

#Tabs ul {
padding: 0px;
margin: 0px;
margin-left: 10px;
list-style-type: none;
}

#Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

#Tabs ul li a {
position: relative;
background:url(../images/button2.png) repeat-x;
/*background: #f6f6f6;*/
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 10px;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 130px;
color: #fff;
text-decoration: none;
font-weight: bold;
}

#Tabs ul li a:hover {
background: #f6f6f6;
color:#000;
}

#Tabs ul li a.active {
	background: #f6f6f6;
color:#000;
}

#Tabs #Content_Area { 
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 20px;
z-index: 5;
height: 150px;
overflow: hidden;
}

p { padding-left: 15px; }